/* General Reset */
:root {
    --primary-color: #4a90e2;
    --secondary-color: #2c3e50;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 83vh;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

.hero-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Pages */
.apps-page, .about-page {
    padding: 20px;
}

.app {
    margin: 20px 0;
}

.app-link {
    color: #007BFF;
    text-decoration: none;
}

.app-link:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    /* margin-top: 20px; */
}

/* Support Button */
.support-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    margin-top: auto;
}

.support-button:hover {
    background-color: #0056b3;
}

.disabled-link {
    color: gray;
    pointer-events: none;
    text-decoration: none;
}